:root {
    /* cores escuras (dark blue) */
    --dark-blue-100: #609ED4; 
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    /* cores claras (light blue) */
    --light-blue-100: #F3F5FC; 
    --light-blue-200: #EFF1FA; 
    --light-blue-300: #E9ECF8; 
    --light-blue-400: #AAB2D5; 
    --light-blue-500: #757FB2; 

    /* cores cinzas (gray) */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96; 
    --gray-400: #495057;
    --gray-500: #343A40;
}

html, body{
    height: 100%;
    margin: 0;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--light-blue-100);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

h1 {
    display: none;
}

.logo { 
    object-fit: contain;  
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    flex: 1;
}

.container {
    flex: 1; 
    min-width: 300px; 
    max-width: 100%;
    padding: 1rem;
    background-color: var(--light-blue-100);
    border-radius: 8px; 
    display: flex;
    flex-direction: column; 
    margin-bottom: 60px; 
    border: none;
}

.container-resultado {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 90vh;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: white;
    color: #333;
    border-radius: 16px;
    box-shadow: 0 0 12px var(--gray-100);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.container-resultado img { 
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.texto-editavel {
    width: 100%;
    height: 3rem;
    padding: 0.625rem;
    cursor: text;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: var(--light-blue-100);
    box-sizing: border-box;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 24px;
    width: 100%;
    max-width: 696;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px; 
    gap: 8px;
    border-radius: 24px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s;
    width: 100%; 
    height: auto;
}

button.btn-criptografar {
    background-color: var(--dark-blue-300); /* Fundo azul escuro */
    color: #FFFFFF; /* Texto branco */
    border: none; /* Sem borda */
}

button.btn-criptografar:hover,
button.btn-criptografar:focus {
    background-color: var(--dark-blue-400); /* Fundo mais escuro ao passar o mouse ou focar */
}

button.btn-criptografar:focus {
    outline: 2px solid var(--dark-blue-100); 
    outline-offset: 2px; 
}

/* Botão "Descriptografar" */
button.btn-descriptografar {
    background-color: transparent; /* Fundo transparente */
    color: var(--dark-blue-300); /* Texto azul */
    border: 1px solid var(--dark-blue-300); /* Borda azul */
}

button.btn-descriptografar:hover,
button.btn-descriptografar:focus {
    background-color: rgba(0, 0, 0, 0.1); /* Efeito de fundo levemente escurecido ao passar o mouse */
}

button.btn-descriptografar:focus {
    outline: 2px solid var(--dark-blue-100); 
    outline-offset: 2px; 
}

/* Botão "Copiar" (Se necessário, seguindo o mesmo estilo do "Descriptografar") */
button.btn-copy {
    background-color: transparent; /* Fundo transparente */
    color: var(--dark-blue-300); /* Texto azul */
    border: 1px solid var(--dark-blue-300); /* Borda azul */
    display: none; /* Ou visível conforme necessário */
}

button.btn-copy.visible {
    display: inline-block;
}

button.btn-copy:hover,
button.btn-copy:focus {
    background-color: rgba(0, 0, 0, 0.1); /* Efeito de fundo levemente escurecido ao passar o mouse */
}

button.btn-copy:focus {
    outline: 2px solid var(--dark-blue-100); 
    outline-offset: 2px; 
}

.resultado {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    position: relative; 
    display: grid; 
    grid-template-rows: auto auto auto; 
    row-gap: 10px; 
    justify-items: center; 
    align-items: center; 
}

#digiteMensagem {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    color: #333; 
    text-align: center; 
    margin-bottom: 1rem;
}

#mensagemResultado {
    max-width: 100%; 
    max-height: 60vh; 
    overflow: auto; 
    padding: 1rem; 
    box-sizing: border-box; 
}

.alert-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

/* Ícone de Alerta */
.alert-icon {
    width: 16px;
    height: 16px;
    background: url('assets/Alert.svg') no-repeat center center;
    background-size: contain; 
}

.alert-message {
    width: 228px;
    height: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .container-resultado {
        padding: 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .container-resultado {
        padding: 1rem;
        min-height: 300px;
        max-height: 80vh;
    }

    .texto-editavel, textarea, input[type="text"] {
        font-size: 1rem;
        padding: 0.75rem;
    }

    button {
        font-size: 0.875rem; 
        padding: 0.5rem; 
    }
}

@media (max-width: 480px) {
    .texto-editavel, textarea, input[type="text"] {
        font-size: 0.875rem;
        padding: 0.625rem;
    }

    button {
        font-size: 0.75rem; 
        padding: 0.4rem; 
    }

    .container-resultado img {
        display: none;
    }
}